body{
    background: url(../images/img7.jpeg)no-repeat center fixed ;
}
.tableau{
    position: relative;
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 0 5px 50px rgb(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px solid #DCBB9D;
    bottom: 30px;

}

thead tr {
    background-color: #DCBB9D;
    color: white;
    text-align: left;
    font-size: 30px;
}
th, td {
    padding: 10px 50px 60px ;
}

tbody tr, td, th {
    border: 1px solid #DCBB9D;
}
td{
    background: white ;
    font: trans;
    color: black;
}
