
*{
    
}
.contour{
    border: 5px solid #DCBB9D;
    position: relative;
    width: 38%;
    height: 700px;
    left: 30%;
    background: #FFFBF8;
}
.rectangle_blanc{
    border: 1px solid #DCBB9D;
    position: relative;
    width: 100%;
    background: white;
    height: 70px;
}

a{
    text-decoration: none;
    color: black;
}

input{
    align-content: center;
    font-size: 22px;
    position: relative;
    border: 1px solid #DCBB9D;
    display: block;
    margin: 30px;
    margin-left: 24%;
    top: 55px;
  
    
}
.input1{
    position: relative;
    height: 4px;
    left: 20%;
    width: 45%;
    padding: 30px;
    
}
.input2{
    display: flex;
    position: relative;
    height: 4px;
    left: 44%;
    width: 53%;
    padding: 30px;
    top: 57px;
    border: 1px solid #DCBB9D;
    color: black;
    background: transparent;
    
}
button{
    position: relative;
    align-items: center;
    top: 16%;
    width: 80px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    background: #DCBB9D;
    border: 1px solid #DCBB9D;
    left: 80%;
}

p{
    width: 300px;
    position: relative;
    bottom: 19.7em;
    font-size: 30px;
    left: 28.5%;
    margin: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #696F69;
    margin-left: 12px;
}
select input{
    color: black;
    position: relative;
    margin-left: 10px;
    
}
